<ng-form ng-controller="Our.Umbraco.PropertyList.Controllers.PropertyListController as vm">

    <div class="list-view-layouts" ui-sortable="vm.sortableOptions" ng-model="vm.controls">

        <div class="list-view-layout" ng-repeat="control in vm.controls">

            <i class="icon-navigation list-view-layout__sort-handle"></i>

            <div class="list-view-layout__path">
                <property-list-property-editor model="control" />
            </div>

            <div ng-if="vm.canDelete()" class="list-view-layout__remove">
                <i class="icon-trash" ng-click="vm.showPrompt(control)"></i>
                <umb-confirm-action ng-if="control.deletePrompt"
                                    direction="left"
                                    on-confirm="vm.deleteContent($index)"
                                    on-cancel="vm.hidePrompt(control)">
                </umb-confirm-action>
            </div>

        </div>

    </div>

    <a href="" class="list-view-add-layout" ng-click="vm.addContent()" ng-if="vm.canAdd()">Add item</a>

</ng-form>