<div class="umb-editor pl__editor" ng-controller="Our.Umbraco.PropertyList.Controllers.PropertyListController">

    <div ng-if="!isConfigured">
        <!-- TODO: Fix the "edit datatype" URL -->
        <p><em>This data type has not been configured, <a href="#/developer/dataTypes/edit/-1">click here to select a repeatable data type</a>.</em></p>
    </div>

    <div ng-if="isConfigured">

        <a href="" class="umb-group-builder__property -placeholder" ng-if="!model.controls || model.controls.length == 0" ng-click="addContent($event, 0)">
            <div class="umb-group-builder__property-preview umb-group-builder__placeholder-box">
                <localize key="grid_addElement"></localize>
            </div>
        </a>


        <div class="pl__wrapper" ng-if="model.controls && model.controls.length > 0">

            <div ui-sortable="sortableOptions" ng-model="model.controls">

                <div class="pl__property-item" ng-repeat="control in model.controls">

                    <div class="pl__add-bar pl__add-bar--top">
                        <a ng-click="addContent($event, $index)" class="pl__add-button" ng-if="canAdd()"><i class="icon icon-add"></i></a>
                    </div>

                    <div class="pl__property-wrapper">

                        <i class="icon icon-navigation handle"></i>

                        <umb-property-editor model="control" />

                        <div class="pl__buttons" ng-if="canDelete()" ng-mousedown="$event.stopPropagation();">
                            <div class="no-overflow">
                                <umb-confirm-action ng-if="prompts[control.alias]"
                                                    direction="left"
                                                    on-confirm="deleteContent($event, $index)"
                                                    on-cancel="prompts[control.alias] = false">
                                </umb-confirm-action>
                                <a ng-click="prompts[control.alias] = true" class="pl__button"><i class="icon icon-trash"></i></a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="pl__add-bar pl__add-bar--bottom">
                <a ng-click="addContent($event, model.controls.length)" class="pl__add-button" ng-if="canAdd()"><i class="icon icon-add"></i></a>
            </div>

        </div>

    </div>

</div>