<div ng-controller="Our.Umbraco.PropertyList.Controllers.DataTypePickerController as vm">

    <div ng-if="!vm.allowAdd" ng-model="vm.selectedDataType">
        <umb-node-preview icon="vm.selectedDataType.icon"
                          name="vm.selectedDataType.name"
                          description="vm.selectedDataType.selectedEditor"
                          sortable="vm.sortable"
                          allow-remove="vm.allowRemove"
                          allow-edit="vm.allowEdit"
                          on-remove="vm.remove()"
                          on-edit="vm.edit()">
        </umb-node-preview>
    </div>

    <a ng-if="vm.allowAdd" ng-click="vm.add()" class="umb-node-preview-add" href="" prevent-default>
        <localize key="defaultdialogs_selectEditor">Select editor</localize>
    </a>

    <umb-overlay ng-if="vm.editorPickerOverlay.show"
                 model="vm.editorPickerOverlay"
                 position="right"
                 view="vm.editorPickerOverlay.view">
    </umb-overlay>

    <umb-overlay ng-if="vm.editorSettingsOverlay.show"
                 model="vm.editorSettingsOverlay"
                 position="right"
                 view="vm.editorSettingsOverlay.view">
    </umb-overlay>

</div>